html,body {
    height: 100%;
}
body {
    -webkit-app-region: drag;
}
a,input,button {
    -webkit-app-region: no-drag;
}
#root {
    height: 100%;
}
:focus {
    outline: 0;
}
a {
    text-decoration: none !important;
}

::selection {background:transparent;}
input::selection {
    color: #fff;
    background: $color-green;
}