.login {
    .logo {
        padding: 60px 0 20px 0;
        img {
            width: 120px;
        }
    }
    .name {
        font-size: 16px;
    }
    form {
        padding: 20px 20px 0 20px;
        button {
            margin-top: 40px;
            width: 100%;
        }
    }
}