$font-family-sans-serif: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial;
$fa-font-path: "~font-awesome/fonts";
$materialIcons-font-path: '../fonts';

$color-green: #42bd00;
$color-gray: #f5f5f5;
$color-light-blue: #00c0ef;
$color-teal: #009688;

$primary-color: #F44336;
$dark-primary-color: #D32F2F;
$light-primary-color: #FFCDD2;
$accent-color: #448AFF;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #BDBDBD;
$back-color: #f5f5f5;

$theme-colors: (
  "primary": $color-green,
  "info": $color-light-blue,
);

$font-size-base: .8rem;
$font-weight-light: 200;
$font-weight-normal: 300;
$font-weight-bold: 400 ;

$input-placeholder-color: darken($color-gray, 6%);


$input-box-shadow: none;
$input-btn-focus-box-shadow: none;
$input-focus-border-color: $color-green;
$input-focus-box-shadow: none;
$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;

$enable-print-styles: false;